CopySeries/CopySeriesLib/DateShows.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="DateShows" type="DateShows" />

  <xs:complexType name="DateShows">
    <xs:sequence>
      <xs:element name="ShortNameList" type="ShortNameList" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ShortNameList">
    <xs:sequence>
      <xs:element name="ShortName" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>