CopySeries/CopySeriesXml/IgnoreDirectories.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- xsd.exe /f /c /l:cs /nologo /n:DoenaSoft.CopySeries IgnoreDirectories.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="IgnoreDirectories" type="IgnoreDirectories" />

  <xs:complexType name="IgnoreDirectories">
    <xs:sequence>
      <xs:element name="IgnoreDirectoryList" type="IgnoreDirectory" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IgnoreDirectory">
    <xs:sequence>
      <xs:element name="IgnoreDirectory" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>